
html, body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow img,
#slideshow video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* proporcional */
}

#countdown {
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: white;
    font-size: 1em;
    font-family: monospace;
    background: rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 10px;
}
